b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

logs
npm-debug.log
node_modules
bower_components
config.js
.bowerrc
.idea/*
*.iml
*.sublime-*
projectFilesBackup

.DS_Store

# vim-related
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
.vimrc
*~

.build
.dist
.tmp

# Built asset files
/core/built
